<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head') %>
    <link rel="stylesheet" href="/public/stylesheets/about.css" />
  </head>
  <body>
    <header><%- include('./components/header') %></header>

    <main class="container">
      <div class="d-flex justify-content-center gap-5 about">
        <div class="card" style="width: 18rem;">
          <img src="/public/images/mygh-left.png" class="my-gh-left animate-slide" alt="My GitHub" width="150">
          <%- include('./components/github-janferracini') %>
          <img src="/public/images/jan.jpeg" class="card-img-top animate-fade" alt="Foto da Janaina">
          <div class="card-body">
            <h5 class="card-title">Janaina Ferracini</h5>
            <p class="card-text">Coleciona gatos e joga The Sims nas horas vagas.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/public/images/mygh-top.png" class="my-gh-top animate-slide" alt="My GitHub" width="150">
          <%- include('./components/github-mrbrunelli') %>
          <img src="/public/images/eu.png" class="card-img-top animate-fade" alt="Foto do Matheus">
          <div class="card-body">
            <h5 class="card-title">Matheus Brunelli</h5>
            <p class="card-text">Apaixonado pela natureza, veículos poçantes e Javascript.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/public/images/mygh-right.png" class="my-gh-right animate-slide" alt="My GitHub" width="150">
          <%- include('./components/github-raquelmacd') %>
          <img src="/public/images/raquel.jpeg" class="card-img-top animate-fade" alt="Foto da Raquel">
          <div class="card-body">
            <h5 class="card-title">Raquel Macedo</h5>
            <p class="card-text">Adora quebra-cabeças, curte viajar e tomar uns drinks.</p>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-light fixed-bottom">
      <%- include('./components/footer') %>
    </footer>
  </body>
</html>
