<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head') %>
    <link rel="stylesheet" href="public/stylesheets/vehicles.css" />
  </head>
  <body>
    <header><%- include('./components/header') %></header>

    <main class="container">
      <div class="d-flex justify-content-start">
        <h1 class="display-5 mb-5">Nossos veículos</h1>
      </div>
      <div class="vehicles-container">
        <% for(vehicle of data) { %>
        <div class="card position-relative" style="width: 18rem">
          <span
            class="
              badge
              bg-warning
              position-absolute
              top-0
              start-100
              translate-middle
              rounded-pill
            "
            >+<%= (Math.random() * 100).toFixed(0) %>
            <i class="bi bi-hand-thumbs-up-fill"></i
          ></span>
          <img
            src="<%= vehicle.photo %>"
            class="card-img-top"
            alt="Foto do veículo"
          />
          <div class="card-body">
            <h3 class="card-title"><%= vehicle.brand %></h3>
            <p class="card-subtitle">
              <%= `${vehicle.brand} ${vehicle.model}` %>
            </p>
            <p class="card-text text-muted">2011/2012 <%= vehicle.color %></p>
            <p class="card-subtitle text-muted text-decoration-line-through">
              De R$ <%= (vehicle.price * 1.10).toFixed(2) %>
            </p>
            <h4 class="text-dark">R$ <%= vehicle.price %></h4>
            <a href="#" class="btn btn-warning">Ver detalhes</a>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <footer class="bg-light fixed-bottom">
      <%- include('./components/footer') %>
    </footer>
  </body>
</html>
